*{
    margin:0;
    padding:0;
}

header {
    background-color: #333;
    color: #fff; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  
  h1 {
    margin: 0;
  }
  h1.name{
    margin-left:50px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  main{
    margin-top:30px;
    margin-bottom:30px;
  }

  h2{
    margin-left: 35px;
  }
  h3{
    color:blue;
    margin-top:30px;
    margin-left:50px;
  }

  p,a,button{
    margin-left:50px;
  }

  .topic{
    background:blue;
    padding:5px;
    display:inline;
    border-radius: 3px;
    color:white;
  }

  h3.topicos{
    margin-bottom:20px;
  }

.star{
    display:flex;
    justify-content:space-evenly;
}
  

